 <% for (let i = 0; i < matches.length; i++) { %>
<div class="card">
    <div class="card-content profile">
      <div class="media">
        <div class="media-left">
          <figure class="image is-100x100 match-img">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"> <%= matches[i].full_name %> </p>
          <br/>
          <p class="subtitle is-8">Fitness Goal: <%= matches[i].fitness_goal %> </p>
          <p class="subtitle is-8">ZIP Code: <%= matches[i].zipcode%> </p>
        </div>
        <div class="buttons select-profile">
            <button class="button is-link view-profile">Spot this Spottr!</button>
          </div>
      </div>
    </div>
  </div>
  <br/>

  <% } %>