<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body>
    <video id="videoBG" poster="images/poster.png" autoplay muted loop>
        <source src="images/videobg.mov" type="video/mp4">
    </video>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="index.html">
            <img src="images/spottr.png" alt="Spottr logo" width="112" height="50">
        </a>


        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>

<div id="signinCard">

    <div class="card-content" id="cardContent">

        <h1 class="signupHeader">Find your Spottr!</h1>

        <label class="label">Email</label>
        <input class="input contactInput" type="text" placeholder="Email">

        <label class="label">Password</label>
        <input class="input contactInput" placeholder="Password">

        <br/>
        <br/>

        <div class="buttons">
          <button class="button is-link" id="startBtn"><a href="questions.html">Sign In</a></button>
        </div>
        <br/>
        <a href="newacc.html">New to Spottr? Sign Up now!</a>

  

       
        


    </div>

    <script type="text/javascript" src="script.js"></script>
</body>
</html>